<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>Banners</title>
    </head>
    <body>
        <div class="container">
            <header class="header">
                <nav class="header__nav">
                    <a href="#" class="header__link header__link_active">Banners</a>
                    <a href="#" class="header__link">Categories</a>
                </nav>
            </header>

            <main class="main">
                <aside class="sidebar">
                    <header class="sidebar__header">Banners:</header>

                    <section class="sidebar__content">
                        <div class="sidebar__search">
                            <input class="sidebar__search-input" type="text" placeholder="Enter banner name..." />
                            <span class="sidebar__search-icon"></span>
                        </div>
                        <div class="sidebar__menu">
                            <a href="#" class="sidebar__menu-item">Some banner</a>
                            <a href="#" class="sidebar__menu-item">Second banner</a>
                            <a href="#" class="sidebar__menu-item">New test banner</a>
                        </div>
                    </section>

                    <footer class="sidebar__footer">
                        <button class="sidebar__submit-button">Create new Banner</button>
                    </footer>
                </aside>

                <section class="content content_center">
                    Choose an action.
                </section>
            </main>
        </div>
    </body>
</html>
